<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
              <li><a href="/about">Research and Publications</a></li>
              <li><a href="/about">Projects</a></li>
	        		<li><a href="/cv">CV</a></li>
              <li><a href="/about">Fellowships and Awards</a></li>
	        		<li><a href="/blog">Community Involvement</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lingchm@gmail.com">email</a></li>
	        		<li><a href="https://github.com/lingchm">github.com/lingchm</a></li>
				</ul>
			</footer>
		</body>
	</html>
